{
  "GAID": "google analytics id",
  "ClientLimit": 5,
  "LastfmUser": "user",
  "LastfmKey": "key",
  "GithubToken": "token",
  "SteamUser": "community user",
  "GoodreadsId": "id",
  "GoodreadsKey": "key"
}