body {
  font-family: 'Roboto', sans-serif;
  background: #F6F6EF;
}

a {
  color: #444;
}

a:hover {
  color: #4355A9;
}

a, a:hover, a:active {
  text-decoration: none;
}

header h1 {
  margin: 30px 0 0 0;
  font-family: 'Contrail One', cursive;
  text-align: center;
  font-size: 4em;
}

header h2 {
  margin: 0;
  font-family: 'Contrail One', cursive;
  text-align: center;
  font-size: 2em;
}

section {
  text-align: center;
  clear: both;
}

.contact {
  margin: 30px 0 100px 0;
}

.contact a {
  font-family: fontawesome;
  font-size: 3em;
  padding: 0 5px;
}

.contact span {
  display: none;
}

.content {
  margin: 100px 0;
  background: #B6AD9F;
  /*background: #9683A9;*/
  padding-bottom: 20px;
}

@media (max-width: 520px) {
  .content,
  footer {
    display: none;
  }

  .contact a {
    display: block;
    margin-bottom: 10px;
  }

  .contact span {
    display: inline;
  }
}

.tab-pane {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  background: #FFF;
  border-radius: 3px;
  padding: 5px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.nav li {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  padding: 10px;
  font-size: 1.5em;
}

ul.nav li a {
  color: #222;
}

ul.nav li a:hover,
ul.nav li.active a {
  color: #F2EFF6;
}

#listening .user img {
  float: right;
  height: 100px;
  border: 1px solid #C2C2C2;
}

#listening .user h2 {
  margin: 0;
  font-size: 26px;
}

#listening .user p {
  color: #666;
}

#listening .user a {
  margin-top: 10px;
}

#listening .tracks {
  margin: 20px 0 0;
}

#listening .tracks li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #C2C2C2;
}

#listening .tracks li:last-child {
  border-bottom: none;
}

#listening .tracks li:hover {
  background: #EEE;
}

#listening .tracks li a {
  width: 375px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#listening .tracks li a:hover {
  text-decoration: underline;
}

#listening .tracks li img {
  width: 30px;
  height: 30px;
  border: 1px solid #C2C2C2;
}

#listening .tracks li date {
  float: right;
  color: #888;
  padding-top: 5px;
}

footer {
  margin: 100px 0 50px 0;
  color: #888;
  text-align: center;
  font-family: 'Contrail One', cursive;
}
