body {
  font-family: 'Roboto', sans-serif;
  background: #F6F6EF;
}

a {
  color: #444;
}

a:hover {
  color: #4355A9;
}

a, a:hover, a:active {
  text-decoration: none;
}

header h1 {
  margin: 30px 0 0 0;
  font-family: 'Contrail One', cursive;
  text-align: center;
  font-size: 4em;
}

header h2 {
  margin: 0;
  font-family: 'Contrail One', cursive;
  text-align: center;
  font-size: 2em;
}

section {
  text-align: center;
  clear: both;
}

/* CONTACT */

.contact {
  margin: 30px 0 100px 0;
}

.contact a {
  font-family: fontawesome;
  font-size: 3em;
  padding: 0 5px;
}

.contact span {
  display: none;
}

/* NAV BAR */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.nav li {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  padding: 10px;
  font-size: 1.5em;
}

ul.nav li a {
  color: #888;
}

ul.nav li a:hover,
ul.nav li.active a {
  color: #000;
}

/* CONTENT */

.content {
  margin: 100px 0;
  background: #e9e9e9 url('/static/img/b.png');
  padding-bottom: 20px;
}

.tab-outer {
  width: 510px;
  margin: 0 auto;
  position: relative;
}

.tab-outer:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  color: #444;
  border: 10px solid rgba(0,0,0,0.5);
  border-width: 0 10px 10px 10px;
  border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0.5) rgba(0,0,0,0);
  position: absolute;
  left: 100px;
  top: -10px;
}

.tab-outer.listening:before { left: 100px; }
.tab-outer.hacking:before { left: 190px; }
.tab-outer.playing:before { left: 280px; }
.tab-outer.reading:before { left: 380px; }

.tab-content {
  width: 500px;
  margin: 5px auto;
}

.tab-content a:hover {
  color: #d75701;
}

.tab-pane {
  text-align: left;
  background: #FFF;
  border-radius: 0px;

  box-shadow: 0 0 7px rgba(0,0,0,0.5)
}

.profile-info {
  position: relative;
  padding: 15px;
  background: #fff;
}

.profile-avatar {
  display: inline-block;
  float: left;
  }

.profile-avatar img {
  height: 52px;
  width: 52px;
  border: 2px solid #d75701;
}

.profile-name {
  display: block;
  float: left;
  margin: 0 0 10px 10px;
}

.profile-name h2 {
  font-size: 22px;
  line-height: 30px;
}

.profile-name h2 a {
  font-weight: bold;
  color: #404040;
}

.profile-name h2, 
.profile-name h3 {
  margin: 0;
  font-weight: normal;
}

.profile-name h3 a {
  color: #777;
}

.profile-location-url {
  clear: left;
  margin: 0;
}

.profile-location-url span {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  color: #777;
}

.profile-location-url .divider {
  padding: 0 4px;
  color: #ccc;
}

.profile-stats {
  margin: 0;
  list-style: none;
  overflow: hidden;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  background: #fff;
}

.profile-stats li {
  display: inline;
}

.profile-stats li a,
.profile-stats li span {
  float: left;
  padding: 7px 15px;
  color: #777;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  border-left: 1px solid #c2c2c2;
}

.profile-stats li:first-child a,
.profile-stats li:first-child span {
  border-left: none;
}

.profile-stats li strong {
  display: block;
  color: #404040;
  font-size: 14px;
}

.profile-info-footer {
  background: #e9e9e9;
  padding: 10px 15px;
  border-bottom: 1px solid #c2c2c2;
}

.profile-info-footer a.btn:hover {
  color: #FFF;
}

.profile-list-header {
  border-bottom: 1px solid #c2c2c2;
  padding: 10px 15px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

/* LASTFM */

.profile-tracks {
  margin: 5px 0;
}

.profile-tracks li {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #C2C2C2;
}

.profile-tracks li:last-child {
  border-bottom: none;
}

.profile-tracks li img {
  width: 40px;
  height: 40px;
  border: 1px solid #C2C2C2;
  float: left;
}

.profile-tracks li a {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 50px;
  display: block;
}

.profile-tracks li a:hover {
  text-decoration: underline;
}

.profile-tracks li date {
  display: block;
  color: #888;
  margin-left: 50px;
}

/* GITHUB */

.profile-repos li {
  padding: 10px 15px;
  border-bottom: 1px solid #c2c2c2;
}

.profile-repo-name {
  font-weight: bold;
}

.profile-repo-text {
  color: #777;
  margin: 0;
  padding: 5px 0;
  font-size: 13px;
  line-height: 18px;
}

.profile-repo-stats {
  list-style: none;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}

.profile-repo-stats li {
  padding: 0;
  border: 0;
  display: inline-block;
  zoom: 1;
}

.profile-watchers {
  display: inline-block;
  background: url('/static/img/ico-watchers.png') no-repeat;
  margin-left: 10px;
  padding-left: 20px;
}

.profile-forks {
  display: inline-block;
  background: url('/static/img/ico-forks.png') no-repeat;
  margin-left: 10px;
  padding-left: 20px;
}

/* STEAM */

.btn-steam {
  color: #ffffff;
  background-color: #AAA;
  border-color: #888;
}

.btn-steam:hover {
  background-color: #888;
  border-color: #444;
}

.profile-games li {
  padding: 10px 15px;
  border-bottom: 1px solid #c2c2c2;
  height: 90px;
}

.profile-game-logo {
  float: left;
  clear: both;
  border: 1px solid #888;
}

.profile-game-name {
  font-weight: bold;
  margin-left: 200px;
  display: block;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-game-stats {
  margin-top: 10px;
  margin-left: 200px;
  color: #888;
}

/* BOOKS */


.profile-books li {
  padding: 10px 15px;
  border-bottom: 1px solid #c2c2c2;
  height: 110px;
}

.profile-book-logo {
  float: left;
  clear: both;
}

.profile-book-logo img {
  border: 1px solid #888;
  height: 90px;
}

.profile-book-name {
  font-weight: bold;
  margin-left: 80px;
  display: block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-book-name span {
  font-weight: normal;
  color: #888;
  font-size: 12px;
}

.profile-book-author {
  margin-left: 80px;
  display: block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-book-author span {
  color: #888;
  font-size: 12px;
}

.profile-book-progress {
  margin: 15px 100px 0 80px;
}

.profile-book-pages {
  float: right;
  margin-top: 15px;
  color: #888;
  font-size: 12px;
}

.profile-book-updated {
  display: block;
  margin: 5px 0 0 80px;
  color: #888;
  font-size: 12px;
}

.profile-book-rating {
  display: block;
  margin-left: 80px;
}

.profile-book-readat {
  display: block;
  margin: 10px 0 0 80px;
  color: #888;
}

/* FOOTER */

footer {
  margin: 100px 0 50px 0;
  color: #888;
  text-align: center;
  font-family: 'Contrail One', cursive;
}

/* RESPONSIVE */

.mobile {
  display: none;
}

@media (max-width: 520px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none !important;
  }

  .contact a {
    display: block;
    margin-bottom: 10px;
  }

  .contact span {
    display: inline;
  }

  .content {
    padding: 20px 0;
    background: none;
  }

  ul.nav {
    display: none;
  }

  .tab-outer, .tab-content {
    width: auto;
    margin: 0;
  }

  .tab-outer:before {
    display: none;
  }

  .tab-content > .tab-pane {
    display: block;
    box-shadow: none;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    margin-bottom: 50px;
  }

  .profile-game-stats {
    margin-top: 0;
  }
}