<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Kristjan Rang</title>
  <meta name="description" content="Kristjan Rang's personal website">
  <meta name="author" content="Kristjan Rang">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <link href='https://fonts.googleapis.com/css?family=Contrail+One|Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="/static/js/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <h1>Kristjan Rang</h1>
    <h2>Software Engineer</h2>
  </header>

  <section class="contact">
    <a href="mailto:mail@rang.ee">&#xf0e0;<span> Email</span></a>
    <a href="https://github.com/krisrang">&#xf09b;<span> Github</span></a>
  </section>

  <section class="content">
    <ul class="nav nav-tabs">
      <li><a href="#listening" data-toggle="tab">Last.fm</a></li>
      <li><a href="#hacking" data-toggle="tab">Github</a></li>
      <li class="active"><a href="#playing" data-toggle="tab">Steam</a></li>
      <li><a href="#reading" data-toggle="tab">Goodreads</a></li>
    </ul>

    <div class="tab-outer listening">
      <div class="tab-content">

        <div class="tab-pane" id="listening">
          <div class="profile-info">
            <a href="{{.LastfmUser.URL}}" class="profile-avatar">
              <img src="{{.LastfmUser.GetImage}}"></img>
            </a>
            <div class="profile-name">
              <h2><a href="{{.LastfmUser.URL}}">{{.LastfmUser.Name}}</a></h2>
              <h3>&nbsp;</h3>
            </div>

            <p class="profile-location-url">
              <span>{{.LastfmUser.Country}}</span>
              <span class="divider">·</span>
              <span>Registered {{.LastfmUser.Registered.ShortDate}}</span>
            </p>
          </div>

          <ul class="profile-stats">
            <li><a href="{{.LastfmUser.URL}}"><strong>{{.LastfmUser.PlayCount}}</strong> plays</a></li>
          </ul>

          <div class="profile-info-footer">
            <a href="{{.LastfmUser.URL}}" class="btn btn-danger btn-s">Last.fm profile</a>
          </div>
          
          <ul class="profile-tracks">
            {{range .LastfmTracks}}
              <li>
                <img src="{{.GetImage}}"></img>
                <a href="{{.URL}}">{{.Artist.Name}} - {{.Name}}</a>
                <date>
                {{ if .IsNowPlaying }}
                  Now playing
                {{else}}
                  {{.Date.RelativeDate}}
                {{end}}
                </date>
              </li>
            {{end}}
          </ul>
        </div>

        <div class="tab-pane" id="hacking">
          <div class="profile-info">
            <a href="{{.GithubUser.URL}}" class="profile-avatar">
              <img src="{{.GithubUser.AvatarURL}}"></img>
            </a>
            <div class="profile-name">
              <h2><a href="{{.GithubUser.URL}}">{{.GithubUser.Name}}</a></h2>
              <h3><a href="{{.GithubUser.URL}}">{{.GithubUser.Login}}</a></h3>
            </div>

            <p class="profile-location-url">
              <span>{{.GithubUser.Location}}</span>
              <span class="divider">·</span>
              <span><a href="{{.GithubUser.Blog}}">{{.GithubUser.Blog}}</a></span>
            </p>
          </div>

          <ul class="profile-stats">
            <li><a href="{{.GithubUser.URL}}"><strong>{{.GithubUser.PublicRepos}}</strong> repos</a></li>
            <li><a href="{{.GithubUser.URL}}/following"><strong>{{.GithubUser.Following}}</strong> following</a></li>
            <li><a href="{{.GithubUser.URL}}/followers"><strong>{{.GithubUser.Followers}}</strong> followers</a></li>
          </ul>

          <div class="profile-info-footer">
            <a href="{{.GithubUser.URL}}" class="btn btn-info btn-s">Github profile</a>
          </div>

          <ul class="profile-repos">
            {{range .GithubRepos}}
              <li>
                <a href="{{.HTMLURL}}" class="profile-repo-name">{{.Name}}</a>
                <p class="profile-repo-text">{{.Description}}</p>
                <ul class="profile-repo-stats">
                  <li>{{.Language}}</li>
                  <li><a href="{{.URL}}/watchers" class="profile-watchers">{{.WatchersCount}}</a></li>
                  <li><a href="{{.URL}}/network" class="profile-forks">{{.ForksCount}}</a></li>
                </ul>
              </li>
            {{end}}
          </ul>
        </div>

        <div class="tab-pane active" id="playing">
          <div class="profile-info">
            <a href="{{.SteamUser.FullURL}}" class="profile-avatar">
              <img src="{{.SteamUser.AvatarFull}}"></img>
            </a>
            <div class="profile-name">
              <h2><a href="{{.SteamUser.FullURL}}">{{.SteamUser.SteamID}}</a></h2>
              <h3>&nbsp;</h3>
            </div>

            <p class="profile-location-url">
              <span>{{.SteamUser.Location}}</span>
              <span class="divider">·</span>
              <span>{{.SteamUser.Summary}}</span>
            </p>
          </div>

          <ul class="profile-stats">
            <li><a href="{{.SteamUser.FullURL}}/games"><strong>{{.SteamUser.GameCount}}</strong> games</a></li>
            <li><a href="{{.SteamUser.FullURL}}"><strong>{{.SteamUser.HoursPlayed2Wk}}</strong> hours played last 2 weeks</a></li>
            <li><a href="{{.SteamUser.FullURL}}"><strong>{{.SteamUser.RatingDescription}}</strong> steam rating</a></li>
          </ul>

          <div class="profile-info-footer">
            <a href="{{.SteamUser.FullURL}}" class="btn btn-steam btn-s">Steam profile</a>
          </div>

          <ul class="profile-games">
            {{range .SteamGames.Games}}
              <li>
                <a href="{{.StoreLink}}" class="profile-game-logo"><img src="{{.Logo}}"></img></a>
                <a href="{{.StoreLink}}" class="profile-game-name">{{.Name}}</a>
                <p class="profile-game-stats">
                {{if .HoursLast2Weeks}}
                  {{.HoursLast2Weeks}} hrs played last 2 weeks
                {{else}}
                  {{.HoursOnRecord}} hrs played total
                {{end}}
                </p>
              </li>
            {{end}}
          </ul>
        </div>

        <div class="tab-pane" id="reading">
          
        </div>
      </div>
    </div>
  </section>

  <footer>Damn it, Jim! I'm a developer, not a designer!</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery.js"><\/script>')</script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/main.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{.Config.GAID}}', 'kristjanrang.eu');
  ga('send', 'pageview');
</script>
</body>
</html>
