{{if .SteamGames}}
<div class="profile-info">
  <a href="{{.SteamUser.FullURL}}" class="profile-avatar">
    <img src="{{.SteamUser.AvatarFull}}"></img>
  </a>
  <div class="profile-name">
    <h2><a href="{{.SteamUser.FullURL}}">{{.SteamUser.SteamID}}</a></h2>
    <h3>&nbsp;</h3>
  </div>

  <p class="profile-location-url">
    <span>{{.SteamUser.Location}}</span>
    <span class="divider">·</span>
    <span>{{.SteamUser.Summary}}</span>
  </p>
</div>

<ul class="profile-stats">
  <li><a href="{{.SteamUser.FullURL}}/games"><strong>{{.SteamUser.GameCount}}</strong> games</a></li>
  <li><a href="{{.SteamUser.FullURL}}"><strong>{{.SteamGames.HoursPlayed2Wk}}</strong> hours played last 2 weeks</a></li>
  <li><a href="{{.SteamUser.FullURL}}"><strong>{{.SteamUser.RatingDescription}}</strong> steam rating</a></li>
</ul>

<div class="profile-info-footer">
  <a href="{{.SteamUser.FullURL}}" class="btn btn-steam btn-s">Steam profile</a>
</div>

<ul class="profile-games">
  {{range .SteamGames.RecentlyPlayed.Games}}
    <li>
      <a href="{{.StoreLink}}" class="profile-game-logo"><img src="{{.Logo}}"></img></a>
      <a href="{{.StoreLink}}" class="profile-game-name">{{.Name}}</a>
      <p class="profile-game-stats">
      {{if .HoursLast2Weeks}}
        {{.HoursLast2Weeks}} hrs played last 2 weeks
      {{else}}
        {{.HoursOnRecord}} hrs played total
      {{end}}
      </p>
    </li>
  {{end}}
</ul>
{{end}}